<ul class="sub-menu">
    {% for category in categoriesList %}
    <li><a href="{{ path('category', {'slug': category.slug}) }}">{{ category.name }} ({{ category.postsCount }})</a></li>
    {% endfor %}
</ul>